@model expe.Models.Child

@{
    ViewBag.Title = "Add Child Info|VABDS";
}
<div class="main">

<h2>Add Child Info</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Child</legend>

    

        <div class="editor-label">
           <label>Child Name</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CName)
            @Html.ValidationMessageFor(model => model.CName)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.PId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PId", String.Empty)
            @Html.ValidationMessageFor(model => model.PId)
        </div>*@

        <div class="editor-label">
            <label>Date Of Birth</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoB)
            @Html.ValidationMessageFor(model => model.DoB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
          Male  @Html.RadioButtonFor(x => x.Gender, "Male")
            
            @Html.ValidationMessageFor(model => model.Gender)
        </div>
        <div class="editor-field">
           
            Female @Html.RadioButtonFor(x => x.Gender, "Female")
            @Html.ValidationMessageFor(model => model.Gender)
        </div>

        <p>
            <input type="submit" value="Add" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back Home", "Index","Child")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</div>