@model expe.Models.Child

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Child</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.Uname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.Uname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DoB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DoB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
